* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 22vw;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    font-size: 4vw;
}

    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
        float: right;
    }

        .sidebar a.active {
            color: black;
            font-weight: bold;
        }

        .sidebar a:hover:not(.active) {
            color: black;
        }

div.content {
    margin-right: 25vw;
    padding-top: 1vh;
    height: 1000px;
}

.mainImg {
    width: 75vw;
    height: auto;
}

.mylogo {
    width: 19vw;
    float: right;
    height: auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: right;
        }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .mylogo {
        float: left;
    }

    .mainImg {
        margin: unset;
        padding: unset;
        width: 100vw;
        height: auto;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }
}
